<div class="single-col">
    <div class="styled-input-container styled-input--diamond">
        {{ if .Get 0 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-one" />
            <label for="checkbox4-example-one">{{ .Get 0 }}</label>
        </div>
        {{ end }}
        {{ if .Get 1 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-two" />
            <label for="checkbox4-example-two">{{ .Get 1 }}</label>
        </div>
        {{ end }}
        {{ if .Get 2 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-three" />
            <label for="checkbox4-example-three">{{ .Get 2 }}</label>
        </div>
        {{ end }}
        {{ if .Get 3 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-four" />
            <label for="checkbox4-example-four">{{ .Get 3 }}</label>
        </div>
        {{ end }}
        {{ if .Get 4 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-five" />
            <label for="checkbox4-example-five">{{ .Get 4 }}</label>
        </div>
        {{ end }}
        {{ if .Get 5 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-six" />
            <label for="checkbox4-example-six">{{ .Get 5 }}</label>
        </div>
        {{ end }}
        {{ if .Get 6 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-seven" />
            <label for="checkbox4-example-seven">{{ .Get 6 }}</label>
        </div>
        {{ end }}
        {{ if .Get 7 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-eight" />
            <label for="checkbox4-example-eight">{{ .Get 7 }}</label>
        </div>
        {{ end }}
        {{ if .Get 8 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-nine" />
            <label for="checkbox4-example-nine">{{ .Get 8 }}</label>
        </div>
        {{ end }}
        {{ if .Get 9 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-ten" />
            <label for="checkbox4-example-ten">{{ .Get 9 }}</label>
        </div>
        {{ end }}
        {{ if .Get 10 }}
        <div class="styled-input-single">
            <input type="checkbox" name="fieldset-8" id="checkbox4-example-eleven" />
            <label for="checkbox4-example-eleven">{{ .Get 10 }}</label>
        </div>
        {{ end }}
    </div>
</div>
