.leaderboard-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  //padding-left: 10px;
  //padding-right: 10px;
}

.leaderboard-ul {
  margin-left: 0;
}

.responsive-table {
  li {
    border-radius: 8px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

  }
  .table-header {
    background-color: #000000FF;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #a9a9b3;

    .dark-theme & {
      background-color: #0B0E11;
      color: #a9a9b3;
    }
  }
  .table-row {
    background-color: inherit;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

    .dark-theme & {
      background-color: #151A21;
      color: #a9a9b3;
    }
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  //@media all and (max-width: 767px) {
  //  .table-header {
  //    display: none;
  //  }
  //  .table-row{
  //
  //  }
  //  li {
  //    display: block;
  //  }
  //  .col {
  //
  //    flex-basis: 100%;
  //
  //  }
  //  .col {
  //    display: flex;
  //    padding: 10px 0;
  //    &:before {
  //      color: #a9a9b3;
  //      padding-right: 10px;
  //      content: attr(data-label);
  //      flex-basis: 50%;
  //      text-align: right;
  //    }
  //  }
  //}
}